body
{
  background:url(Grafik/c3loops/bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#hacks
{
  background-image:url(Grafik/c3loops/hacks.png);
  background-repeat: no-repeat;
  width: 135px;
  height: 100px;
  position:fixed;
  top: 38%;
  left: 53%;
}

#hacks:hover
{
}

#about
{
  background-image:url(Grafik/c3loops/about.png);
  background-repeat: no-repeat;
  width: 145px;
  height: 100px;
  position:fixed;
  top: 63%;
  left: 53.5%;
}

#news
{
  background-image:url(Grafik/c3loops/news.png);
  background-repeat: no-repeat;
  width: 135px;
  height: 170px;
  position:fixed;
  top: 55%;
  left: 44%;
}

#media
{
  background-image:url(Grafik/c3loops/media.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position:fixed;
  top: 53.6%;
  left: 58.3%;
}

#webshop
{
  background-image:url(Grafik/c3loops/webshop.png);
  background-repeat: no-repeat;
  width: 400px;
  height: 625px;
  position:fixed;
  top: 31.5%;
  left: 53%;
}

#innerstaringen
{
  background-image:url(Grafik/c3loops/innersta-ringen.png);
  background-repeat: no-repeat;
  width: 135px;
  height: 200px;
  position:fixed;
  top: 48%;
  left: 48%;
}

#about-news
{
  background-image:url(Grafik/c3loops/about-news.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position:fixed;
  top: 64%;
  left: 47.5%;
}

#hack-media
{
  background-image:url(Grafik/c3loops/hack-media.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position:fixed;
  top: 43%;
  left: 58%;
}
#logo
{
  background-image:url(Grafik/c3loops/logo.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position:fixed;
  top: 50%;
  left: 50%;
}



