
html {
height:100%;
	width:100%;
	}

body {
	height:100%;
	width:100%;
	margin:0;padding:0;
	overflow:hidden;
}

#wrapper {
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	background-color:#ccc;
	overflow:hidden;
}

	#mask {
		width:600%;
		height:100%;
		background-color:#eee;
	}

	.item {
		width:16.666667%;
		height:100%;
		float:left;
		background-image: url('grafik/c3loops/bg.png');

	}
	
	
	.content {
		width:400px;
		height:300px;
		top:20%;
		margin:0 auto;
		background-color:#aaa;
		position:relative;
	}
	
	.selected {
		font-weight:700;
	}

	.clear {
		clear:both;
	}
	
.hacks
	{
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: 10px;
	}
	
.hacks:hover
{
  
}

.hacks span {
display: none;

}
.hacks:hover span {

 display:block;
    position:absolute;
    top:-5em; left:-8em; width:10em;
}
	
.about
{
  background-image:url(grafik/c3loops/about.png);
  background-repeat: no-repeat;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: 115px;
  margin-left: 10px;
}

.about:hover
{
  
}

.about span {
display: none;

}
.about:hover span {

 display:block;
    position:absolute;
    top:-5em; left:8em; width:10em;
	z-index: 20;
}


.news
{
 
  background-repeat: no-repeat;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -210px;
  margin-top: 7px;
}

.news:hover
{
  
}

.news span {
display: none;

}
.news:hover span {

 display:block;
    position:absolute;
    top:-5em; left:-10em; width:10em;
	z-index: 20;
	opacity: 1;
   transition: opacity .95s ease-in-out;
   -moz-transition: opacity .95s ease-in-out;
   -webkit-transition: opacity .95s ease-in-out;
}


.media
{
  background-image:url(grafik/c3loops/media.png);
  background-repeat: no-repeat;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: 132px;
  margin-top: 0px;
}

.media:hover
{
  
}

.media span {
display: none;

}
.media:hover span {

 display:block;
    position:absolute;
    top:-6em; left:4em; width:10em;
	z-index: 20;
}



.webshop
{
  position:absolute;
  top: 50%;
  left: 50%;
  width: 594;
  height: 306px;
  margin-top: -306px;
}

.webshop:hover
{
  
}

.webshop span {
display: none;

}
.webshop:hover span {

 display:block;
    position:absolute;
    top:24.5em; left:13.5em; width:10em;
	z-index: 20;
	opacity: 50;
   transition: opacity .95s ease-in-out;
   -moz-transition: opacity .95s ease-in-out;
   -webkit-transition: opacity .95s ease-in-out;
}

.innerstaringen
{
  background-image:url(grafik/c3loops/innersta-ringen.png);
  background-repeat: no-repeat;
  width: 135px;
  height: 200px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -130px;
  margin-top: -105px;
}

.contact
{
  background-repeat: no-repeat;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -135px;
  margin-top: 123px;
}

.contact:hover
{
  
}

.contact span {
display: none;

}
.contact:hover span {

 display:block;
    position:absolute;
    top:-3em; left:-5em; width:10em;
	z-index: 20;
}

.hack-media
{
  background-image:url(grafik/c3loops/hack-media.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: 125px;
  margin-top: -130px;
}
.logo
{
  background-image:url(grafik/c3loops/logo.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
}

#indexbg {
width: 1366px;
height: 768px;
position: absolute;
top:50%;
left:50%;
margin-left: -643px;
margin-top: -370px;
}




